
<div class="form-group">
    <label for="sbi_isStaff" class="col-xs-4 control-label"><span class="pl-5">Staff</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_isStaff" id="sbi_isStaff" required>
            <option value="False" selected>False</option>
            <option value="True">True</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="sbi_isJKResident" class="col-xs-4 control-label"><span class="pl-5">J&K Resident</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_isJKResident" id="sbi_isJKResident" required>
            <option value="False" selected>False</option>
            <option value="True">True</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="sbi_plan" class="col-xs-4 control-label"><span class="pl-5">Plan</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_plan" id="sbi_plan" required>
            <option value="Regular" selected>Regular</option>
            <option value="Limited premium">Limited premium</option>
            <option value="Single">Single</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="sbi_premFreq" class="col-xs-4 control-label"><span class="pl-5">Premium Frequency</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_premFreq" id="sbi_premFreq" required>
            <option value="Yearly" selected>Yearly</option>
            <option value="Single">Single</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="sbi_sumAssured" class="col-xs-4 control-label"><span class="pl-5">Sum Assured</span></label>

    <div class="col-xs-8">
        <input type="number" min="500000" max="10000000" class="form-control" name="sbi_sumAssured" id="sbi_sumAssured" placeholder="Sum Assured range from 500000 to 10000000" required>
    </div>
</div>

<div class="form-group">
    <label for="sbi_premPayingTerm" class="col-xs-4 control-label"><span class="pl-5">Premium Payment Term</span></label>

    <div class="col-xs-8">
        <input type="number" min="5" max="10" class="form-control" name="sbi_premPayingTerm" id="sbi_premPayingTerm" placeholder="Premium Payment Term range from 5 to 10" required>
    </div>
</div>

<div class="form-group">
    <label for="sbi_IsBackdate" class="col-xs-4 control-label"><span class="pl-5">Back Date Status</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_IsBackdate" id="sbi_IsBackdate" required>
            <option value="False">False</option>
            <option value="True" selected>True</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="sbi_IsMines" class="col-xs-4 control-label"><span class="pl-5">Mines Status</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_IsMines" id="sbi_IsMines" required>
            <option value="False">False</option>
            <option value="True" selected>True</option>
        </select>
    </div>
</div>