
<div class="form-group">
    <label for="sbi_isStaff" class="col-xs-4 control-label"><span class="pl-5">Staff</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_isStaff" id="sbi_isStaff" required>
            <option value="False" selected>False</option>
            <option value="True">True</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="sbi_isJKResident" class="col-xs-4 control-label"><span class="pl-5">J&K Resident</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_isJKResident" id="sbi_isJKResident" required>
            <option value="False" selected>False</option>
            <option value="True">True</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="sbi_plan" class="col-xs-4 control-label"><span class="pl-5">Plan</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_plan" id="sbi_plan" required>
            <option value="Regular" selected>Regular</option>
            <option value="Limited premium">Limited premium</option>
            <option value="Single">Single</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="sbi_premFreqMode" class="col-xs-4 control-label"><span class="pl-5">Premium Frequency</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_premFreqMode" id="sbi_premFreqMode" required>
            <option value="Yearly" selected>Yearly</option>
            <option value="Single">Single</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="sbi_premPayingTerm" class="col-xs-4 control-label"><span class="pl-5">Premium Payment Term</span></label>

    <div class="col-xs-8">
        <input type="number" min="5" max="10" class="form-control" name="sbi_premPayingTerm" id="sbi_premPayingTerm" placeholder="Premium Payment Term range from 5 to 10" required>
    </div>
</div>

<div class="form-group">
    <label for="sbi_premiumAmount" class="col-xs-4 control-label"><span class="pl-5">Premium Amount</span></label>

    <div class="col-xs-8">
        <input type="number" min="30000" max="300000" class="form-control" name="sbi_premiumAmount" id="sbi_premiumAmount" placeholder="Premium Amount range from 30,000 to 3,00,000" required>
    </div>
</div>

<div class="form-group">
    <label for="sbi_SAMF" class="col-xs-4 control-label"><span class="pl-5">Sum Assured Multiplier Factor</span></label>

    <div class="col-xs-8">
        <input type="number" min="1" max="20" class="form-control" name="sbi_SAMF" id="sbi_SAMF" placeholder="Sum Assured Multiplier Factor range from 1 to 20" required>
    </div>
</div>

<div class="form-group">
    <label for="sbi_noOfYrElapsed" class="col-xs-4 control-label"><span class="pl-5">No. of years elipsed since inception</span></label>

    <div class="col-xs-8">
        <input type="number" min="5" max="30" class="form-control" name="sbi_noOfYrElapsed" id="sbi_noOfYrElapsed" placeholder="No. of years elipsed since inception range from 5 to 30" required>
    </div>
</div>

<div class="form-group">
    <h3><center>How would you like to split your investment?</center></h3>
</div>

<div class="form-group">
    <label for="sbi_perInvEquityFund" class="col-xs-4 control-label"><span class="pl-5">Equity Fund (%)</span></label>

    <div class="col-xs-8">
        <input type="number" min="0" max="100" class="form-control" name="sbi_perInvEquityFund" id="sbi_perInvEquityFund" placeholder="Equity Fund (%) range from 0 to 100" required>
    </div>
</div>

<div class="form-group">
    <label for="sbi_perInvEquityOptimiserFund" class="col-xs-4 control-label"><span class="pl-5">Equity Optimiser Fund (%)</span></label>

    <div class="col-xs-8">
        <input type="number" min="0" max="100" class="form-control" name="sbi_perInvEquityOptimiserFund" id="sbi_perInvEquityOptimiserFund" placeholder="Equity Optimiser Fund (%) range from 0 to 100" required>
    </div>
</div>

<div class="form-group">
    <label for="sbi_perInvgrowthFund" class="col-xs-4 control-label"><span class="pl-5">Growth Fund (%)</span></label>

    <div class="col-xs-8">
        <input type="number" min="0" max="100" class="form-control" name="sbi_perInvgrowthFund" id="sbi_perInvgrowthFund" placeholder="Growth Fund (%) range from 0 to 100" required>
    </div>
</div>

<div class="form-group">
    <label for="sbi_perInvBalancedFund" class="col-xs-4 control-label"><span class="pl-5">Balanced Fund (%)</span></label>

    <div class="col-xs-8">
        <input type="number" min="0" max="100" class="form-control" name="sbi_perInvBalancedFund" id="sbi_perInvBalancedFund" placeholder="Balanced Fund (%) range from 0 to 100" required>
    </div>
</div>

<div class="form-group">
    <label for="sbi_perInvBondFund" class="col-xs-4 control-label"><span class="pl-5">Bond Fund (%)</span></label>

    <div class="col-xs-8">
        <input type="number" min="0" max="100" class="form-control" name="sbi_perInvBondFund" id="sbi_perInvBondFund" placeholder="Bond Fund (%) range from 0 to 100" required>
    </div>
</div>

<div class="form-group">
    <label for="sbi_perInvMoneyMarketFund" class="col-xs-4 control-label"><span class="pl-5">Money Market Fund (%)</span></label>

    <div class="col-xs-8">
        <input type="number" min="0" max="100" class="form-control" name="sbi_perInvMoneyMarketFund" id="sbi_perInvMoneyMarketFund" placeholder="Money Market Fund (%) range from 0 to 100" required>
    </div>
</div>

<div class="form-group">
    <label for="sbi_perInvTop300Fund" class="col-xs-4 control-label"><span class="pl-5">Top 300 Fund (%)</span></label>

    <div class="col-xs-8">
        <input type="number" min="0" max="100" class="form-control" name="sbi_perInvTop300Fund" id="sbi_perInvTop300Fund" placeholder="Top 300 Fund (%) range from 0 to 100" required>
    </div>
</div>