
<div class="form-group">
    <label for="sbi_isStaff" class="col-xs-4 control-label"><span class="pl-5">Staff</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_isStaff" id="sbi_isStaff" required>
            <option value="False" selected>False</option>
            <option value="True">True</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="sbi_isJKResident" class="col-xs-4 control-label"><span class="pl-5">J&K Resident</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_isJKResident" id="sbi_isJKResident" required>
            <option value="False" selected>False</option>
            <option value="True">True</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="sbi_plan" class="col-xs-4 control-label"><span class="pl-5">Plan</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_plan" id="sbi_plan" required>
            <option value="Platinum" selected>Platinum</option>
            <option value="Gold">Gold</option>
        </select>
    </div>
</div>


<div class="form-group">
    <label for="sbi_policyTerm" class="col-xs-4 control-label"><span class="pl-5">Policy Term</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_policyTerm" id="sbi_policyTerm" required>
            <option value="10" selected>10 Years</option>
            <option value="15">15 Years</option>
        </select>
    </div>
</div>

<div class="form-group">
    <h3><center>A little information about the premium options...</center></h3>
</div>

<div class="form-group">
    <label for="sbi_premFreqMode" class="col-xs-4 control-label"><span class="pl-5">Premium Frequency</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_premFreqMode" id="sbi_premFreqMode" required>
            <option value="Yearly" selected>Yearly</option>
            <option value="Half Yearly">Half Yearly</option>
            <option value="Quarterly">Quarterly</option>
            <option value="Monthly">Monthly</option>
        </select>
    </div>
</div>


<div class="form-group">
    <label for="sbi_sumAssured" class="col-xs-4 control-label"><span class="pl-5">Basic Sum Assured</span></label>

    <div class="col-xs-8">
        <input type="number" min="200000" max="1000000" class="form-control" name="sbi_sumAssured" id="sbi_sumAssured" placeholder="Basic Sum Assured Amount range from 2,00,000 to 10,00,000" required>
    </div>
</div>

<div class="form-group">
    <label for="sbi_sumAssuredMultiFactor" class="col-xs-4 control-label"><span class="pl-5">Sum Assured Multiplier Factor</span></label>

    <div class="col-xs-8">
        <select class="form-control" placeholder="Select option" name="sbi_sumAssuredMultiFactor" id="sbi_sumAssuredMultiFactor" required>
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
</div>

<div class="form-group">
    <h3><center>Let's finalize the rider options...</center></h3>
</div>

<div class="form-group">
    <label for="sbi_apcNcaOpt" class="col-xs-4 control-label"><span class="pl-5">APC & CA Option</span></label>

    <div class="col-xs-8">
        <div class="checkbox">
            <label><input type="checkbox" name="sbi_apcNcaOpt" id="sbi_apcNcaOpt" value="1" />&nbsp;</label>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="sbi_apcNcaSumAssured" class="col-xs-4 control-label"><span class="pl-5">APC & CA Sum Assured</span></label>

    <div class="col-xs-8">
        <input type="text" class="form-control" name="sbi_apcNcaSumAssured" id="sbi_apcNcaSumAssured" placeholder="APC & CA Sum Assured Amount" required readonly>
    </div>
</div>

<div class="form-group">
    <label for="sbi_critIllSumAssured" class="col-xs-4 control-label"><span class="pl-5">Critical Illness Sum Assured</span></label>

    <div class="col-xs-8">
        <input type="text" class="form-control" name="sbi_critIllSumAssured" id="sbi_critIllSumAssured" placeholder="Critical Illness Sum Assured Amount" required readonly>
    </div>
</div>