/*
Game CSS styles
 */

/*@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}*/

#loading_div {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#loading_div_img {
    top: 50%;
    position: relative;
    left: 50%;
}

.face {
    position: absolute !important;
    border: 2px solid #ffffff;
}

.g-body {
    margin: 0px;
    background-color: #000000;
}
